* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    text-align: center;
    align-items: center;

}




/* Header container */

.header-container {
    margin-bottom: 20px;
    position: relative;
    height: 10%;
}



.logo
    {
        left: 10px; /* Adjust the left position of the logo */
        top: 50%; /* Center vertically */
        transform: translateY(-50%); /* Center vertically */
        height: auto;
        margin-left: 5px;
    }


.logor {
    right: 10px; /* Adjust the right position of the logor */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
    height: auto;
    margin-right: 10px;
}

.logo,
.logor {
    width: 50px; /* Adjust the width of the logos as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Position the logos absolutely within the container */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
}

.difficulty {
    /* padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
     */

    background-color: rgba(59, 58, 134, 0.089);
    max-width: 70%;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    margin-top: 5em;
    border-color: black;
}

/* Green Section */
.difficulty.green {
    background-color: #72efe9;
    color: #111111;
}

/* Yellow Section */
.difficulty.yellow {
    background-color: #ffe066;
    color: #111111;
}

/* Red Section */
.difficulty.red {
    background-color: #ff6961;
    color: #111111;
}
 
/* Green hover */
.difficulty.green:hover {
    background-color: #57bbb6;
    color: #111111;
}

/* Yellow hover */
.difficulty.yellow:hover {
    background-color: #af9a45;
    color: #111111;
}

/* Red hover */
.difficulty.red:hover {
    background-color: #9c413c;
    color: #111111;
}

/* Footer */

footer {

}
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: #ffffff;
   
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* Add hover effect to change background color to grey */
.answer:hover {
    background-color: #8d8d8d;
}

.app{
    background-color: grey;
    width: 50%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    margin-top: -2em;
    border-color: black;
    align-items: center;
    
}
.quiz { 
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 20px;
    align-items: center;
    width: auto;
}

/*Reset button*/
.reset{
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: right;
    float: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn {
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.quiz h2 {
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.app h1 {
    font-size: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    text-align: center;
    }
   
   quiz-score {
    text-align: right;
    font-weight: 600;
    font-size: 1.2rem;
    border: 5px solid;
    font-weight: bold;
    width: 100px;
    height:50px;
    
   }
